{% extends 'app/base.html' %}
    {% block content %}
  <br><br><br>
  <div class="container">
    <form action="/app/website/profile.html">
      <div class="row">
        <div class="col-25">
          <label for="Username">Username:</label>
        </div>
        <div class="col-75">
          <input type="text" id="Username" name="Username" placeholder="Enter Username here..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Password">Password:</label>
        </div>
        <div class="col-75">
          <input type="text" id="Password" name="Password" placeholder="Enter Password here..">
        </div>
      </div>
      <br>
      <div class="row">
        <input type="submit" value="Login">
      </div>
      <p>Don't have an account with us yet? <a href="/app/website/register.html">Sign up Here</a>.</p>
    </form>
  </div>
</body>

</html>
{% endblock %}